.ui.vertical.stripe.segment
  .ui.middle.aligned.stackable.grid.container
    .row
      .eight.wide.column
        %h3.ui.header Helping Companies and Companions
        %p I can give your company superpowers to do things that they never thought possible. Let me delight your customers and empower your needs through web development.
        %h3.ui.header Hire only best people
        %p If you think it's expensive to hire a professional to do the job, wait until you hire an amateur.
      .six.wide.right.floated.column
        = image_tag "developer.jpg", class: "ui large bordered rounded image"
    .row
      .center.aligned.column
        = link_to "Contact Me", "http://yaroslavfilyk.herokuapp.com/#contact", target: "_blank", class: "ui huge button"
